{% extends 'ManagerApp/dashboard_base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% load widget_tweaks %}


{% block page_content %}

<!-- Custom styles for this page -->
<link href="{% static 'ManagerApp/prebuild/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Add Firebase Credentials</h1>


    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4 w-75">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Firebase Credentials Form</h6>
            </div>
            <div class="card-body">
                <div class="row">

                    <form action="" method="post" class="w-100 d-flex flex-column  justify-content-center">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group w-75">
                            <!-- <input type="email" class="form-control form-control-user"
                            id="exampleInputEmail" aria-describedby="emailHelp"
                            placeholder="Enter Email Address..."> -->
            
                            <!-- <input type="text" name="username" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Username or Email" required=""> -->
                            <span class="font-weight-bold text-dark">{{field.label}}</span>
                            {% render_field field autocomplete="on" class+="form-control form-control-user text-dark w-100 justify-self-center" %}
                        </div>
                        {% endfor %}
                        <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



</div>


</div>


</div>
<!-- Bootstrap core JavaScript-->
<script src=" {% static 'ManagerApp/prebuild/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'ManagerApp/prebuild/vendor/bootstrap/js/bootstrap.bundle.min.js' %}">
</script>

<!-- Core plugin JavaScript-->
<script src="{% static 'ManagerApp/prebuild/vendor/jquery-easing/jquery.easing.min.js' %}">
</script>

<!-- Custom scripts for all pages-->
<script src="{% static 'ManagerApp/prebuild/js/sb-admin-2.min.js' %}"></script>

{% endblock page_content %}