/* line 4, c:/users/diljo/desktop/movie streamer project/server side django/mediastreaming/static/ManagerApp/scss/login_page.scss */
body {
  height: 100vh;
  width: 100vw;
  background-color: #4E73DF; }
